<section class="section min-h-section center justify-center bg-section-one dark:bg-section-one-dark">
  <article class="text-white-alter">
    <img src="../../../assets/imgs/error4.webp" alt="{{ errorData.message }} image" class="img-base">
    <div class="overlay"></div>

    <div class="char">
      <img src="../../../assets/imgs/kagami-character.webp" alt="">
      <div class="text-char">
        <p>{{ errorData.message }}</p>
      </div>
    </div>
    <div class="text-desk">
      <p>{{ errorData.message }}</p>
    </div>
  </article>
  <!-- <p class="text-center">{{ errorData.message }} - {{ errorData.status }}</p> -->
</section>