<section class="section min-h-section py-6 justify-center items-start bg-section-one dark:bg-section-one-dark text-gray-800">
  <section class="flex flex-col w-full max-xl:w-[80%] max-lg:w-full">
    <!-- Icons -->
    <div class="mb-10 w-full flex items-center flex-wrap gap-2 text-[15px] font-semibold font-mulish text-dark-alter dark:text-white-alter">
      <a routerLink="/" class="flex items-center gap-[6px] hover:text-primary dark:hover:text-secondary transition-colors duration-500">
        <i class="fa-solid fa-house text-[12px]"></i>
        <span>{{ textTranslate('Inicio', 'Home') }}</span>
      </a>
      <i class="fa-solid fa-chevron-right text-[10px]"></i>
      <a [href]="uri" class="text-primary hover:text-primary-alter dark:text-secondary dark:hover:text-secondary-alter transition-colors duration-500">
        {{ textTranslate('Top actual', 'Current top') }}
      </a>
    </div>

    <!-- Title -->
    <h2 class="mb-4 border-l-4 self-start border-primary dark:border-secondary text-dark-alter dark:text-white-alter text-[24px] max-md:text-[22px] max-[400px]:text-[20px] font-semibold font-oswald pl-4 flex items-center uppercase">
      <i class="fa-solid fa-home text-[18px] h-9 flex items-center mr-3"></i>
      {{ textTranslate('Animes más votados', 'Most voted animes') }}
    </h2>
    <!-- Filters -->
    <div class="mb-4 w-full flex flex-wrap gap-4 max-[500px]:flex-col max-[500px]:gap-2">
      <select [(ngModel)]="seasonSelectedOption" class="flex-auto text-[14px] px-1 py-2 rounded-sm border-none outline-none bg-section-two dark:bg-section-two-dark text-dark-alter dark:text-white-alter"
          [ngClass]="{'shadow-sm shadow-primary dark:shadow-secondary': seasonSelectedOption !== ''}">
        @for (item of seasonList; track $index) {
          <option [value]="item.value" [ngClass]="{'text-primary dark:text-secondary': item.value === seasonSelectedOption}">{{ item.name }}</option>
        }
      </select>
      <select [(ngModel)]="yearSelectedOption" (change)="onYearChange()" class="flex-auto text-[14px] px-1 py-2 rounded-sm border-none outline-none bg-section-two dark:bg-section-two-dark text-dark-alter dark:text-white-alter"
          [ngClass]="{'shadow-sm shadow-primary dark:shadow-secondary': yearSelectedOption !== actualYear.toString()}">
        @for (item of yearList; track $index) {
          <option [value]="item" [ngClass]="{'text-primary dark:text-secondary': item === yearSelectedOption}">{{ item }}</option>
        }
      </select>
      <button type="submit" (click)="filter()" class="max-[441px]:flex-auto flex justify-center items-center gap-2 px-12 py-[5px] rounded-md transition-colors duration-500 text-white-alter
        bg-primary hover:bg-primary-alter order-9 text-[14px]">
        <i class="fa-solid fa-filter"></i>
        <span>{{ textTranslate('Filtrar', 'Filter') }}</span>
      </button>
    </div>
    <!-- Separator -->
    <span class="separator"></span>

    <!-- Top Animes -->
    @if (!isLoading) {
      <div class="mb-4 w-full flex flex-col gap-6">
        @if (topData.top.length > 0) {
          @for (item of topData.top; track $index) {
            <div class="w-full flex gap-4 max-md:gap-2">
              <a [routerLink]="['/', item.url]" class="relative">
                <div class="rounded-md absolute z-20 w-full h-full flex justify-center items-center hover:bg-primary hover:bg-opacity-70 transition-all duration-500 group">
                  <i class="fa-solid fa-hand-pointer text-4xl opacity-0 text-white-alter group-hover:opacity-100 transition-opacity duration-500"></i>
                </div>
                <div class="rounded-tl-md max-[500px]:rounded-none absolute z-10 right-0 bottom-0 px-3 py-1 max-[500px]:py-[2px] max-[500px]:w-full flex justify-center items-center gap-2 bg-secondary-alter text-white-alter">
                  <span class="text-[14px] max-md:text-[12px] max-[500px]:text-[11px]">{{ item.likes }}</span>
                  <i class="fa-solid fa-star text-[clamp(10px,_3vw,_11px)]"></i>
                </div>
                <img [src]="item.imgUrl" alt="Image of {{ item.name }}" class="rounded-md object-cover
                  min-w-[200px] max-h-[270px]
                  max-xl:min-w-[170px] max-xl:max-h-[235px]
                  max-md:min-w-[140px] max-md:max-h-[200px]
                  max-[500px]:min-w-[100px] max-[500px]:max-h-[140px]">
              </a>
              <div>
                <h3 class="font-mulish text-[clamp(15px,_3vw,_26px)]">
                  <span class="mr-2">#{{ item.position }}</span>
                  <a class="text-primary-alter dark:text-link hover:text-secondary dark:hover:text-secondary transition-all duration-500" [routerLink]="['/', item.url]">{{ item.name }}</a>
                </h3>
                <p class="text-[#709db3] text-[16px] max-sm:text-[13px] line-clamp-2">
                  {{ item.type }}
                  @if (item.chapters !== undefined) {
                    @if (item.chapters > 1) {
                      / {{ item.chapters }} {{ textTranslate('Capítulos', 'Chapters') }}
                    } @else {
                      / {{ item.chapters }} {{ textTranslate('Capítulo', 'Chapter') }}
                    }
                  }
                </p>
                <p class="text-[15px] max-sm:text-[12px] line-clamp-4">
                  {{ textTranslate(item.synopsis!, item.synopsisEnglish!) }}
                </p>
              </div>
            </div>
          }
        } @else {
          <p class="text-[15px]">{{ textTranslate('No se encontraron animes votados para esta fecha', 'No voted animes found for this date') }}</p>
        }
      </div>
    } @else {
      <div class="loader-1"></div>
    }
    
  </section>
</section>