<section class="section min-h-section py-6 justify-center items-start bg-section-one dark:bg-section-one-dark text-gray-800">
  <section class="flex flex-col w-full max-xl:w-[80%] max-lg:w-full">
    <!-- Icons -->
    <div class="mb-10 w-full flex items-center flex-wrap gap-2 text-[15px] font-semibold font-mulish text-dark-alter dark:text-white-alter">
      <a routerLink="/" class="flex items-center gap-[6px] hover:text-primary dark:hover:text-secondary transition-colors duration-500">
        <i class="fa-solid fa-house text-[12px]"></i>
        <span>{{ textTranslate('Inicio', 'Home') }}</span>
      </a>
      <i class="fa-solid fa-chevron-right text-[10px]"></i>
      <a [href]="uri" class="text-primary hover:text-primary-alter dark:text-secondary dark:hover:text-secondary-alter transition-colors duration-500">
        {{ textTranslate('Top actual', 'Current top') }}
      </a>
    </div>

    <!-- Title -->
    <h2 class="mb-4 border-l-4 self-start border-primary dark:border-secondary text-dark-alter dark:text-white-alter text-[24px] max-md:text-[22px] max-[400px]:text-[20px] font-semibold font-oswald pl-4 flex items-center uppercase">
      <i class="fa-solid fa-home text-[18px] h-9 flex items-center mr-3"></i>
      {{ textTranslate('Top actual', 'Current top') }}
    </h2>
    <!-- Separator -->
    <span class="separator"></span>
    
  </section>
</section>