<a [href]="url" class="group relative w-full h-[inherit] flex justify-center items-center rounded-md overflow-hidden">
  <!-- Verificar para no hacer una llamada innecesaria al componente tag -->
  @if (type !== 0) {
    <app-tag class="absolute top-2 left-2 z-40" [type]="type" [category]="category" [chapter]="chapter" [viewed]="viewed"></app-tag>
  }
  <div class="w-full h-full overflow-hidden">
    <div class="group w-full h-full rounded-md flex justify-center items-center hover:bg-primary hover:bg-opacity-70 relative z-50 transition-all duration-500">
      <i class="fa-solid fa-circle-play text-6xl text-white-alter group-hover:opacity-100 opacity-0 transition-opacity duration-500"></i>
    </div>
    <img [src]="imgUrl" class="w-full top-[0] left-0 absolute z-30 rounded-md transition-all duration-500"
      [ngClass]="{
        'object-cover': fitObject === undefined,
        'object-fill': fitObject === 'fill',
        'object-none': fitObject === 'none',
        
        'object-center': fitPosition === undefined,
        'object-top': fitPosition === 'top',
        'object-right': fitPosition === 'right',
        'object-bottom': fitPosition === 'bottom',
        'object-left': fitPosition === 'left',

        'h-full': animTo === undefined,
        'h-[115%] top-[-5%] group-hover:top-0': animTo === 'top',
        'h-[125%] top-0 group-hover:top-[-15%]': animTo === 'bottom',
      }"
      >
  </div>
</a>