<div class="w-full h-header flex justify-center max-lg:justify-between max-lg:section max-lg:px-5 max-[300px]:px-[10px] gap-10 max-[300px]:gap-[5px] bg-primary text-white dark:bg-header-color-dark transition-all duration-600">  
  <div class="flex justify-center items-center gap-10 text-white">
    <!-- Logo in desktop -->
    <a href="/" class="cursor-pointer max-w-40 grid place-items-center max-lg:hidden">
      <img src="../../../assets/imgs/jkanime.webp" alt="" class="transition-all duration-900 hover:rotate-[-2deg]"
      />
    </a>
    <!-- Logo in mobile -->
    <a href="/" class="cursor-pointer w-10 hidden max-lg:block transition-all duration-900 hover:rotate-[-2deg]">
      <img src="../../../assets/imgs/jk.webp" alt="">
    </a>
    <!-- Options in desktop -->
    <div class="options justify-center items-center gap-2 flex max-lg:hidden" [class.expanded]="navState">
      <a [href]="urlTranslate('/directorio', '/directory')" class="button rounded-lg grid place-items-center px-5 py-2">{{ textTranslate('Directorio', 'Directory') }}</a>
      <a [href]="urlTranslate('/horario', '/schedule')" class="button rounded-lg grid place-items-center px-5 py-2">{{ textTranslate('Horario', 'Schedule') }}</a>
      <a [href]="urlTranslate('/top')" class="button rounded-lg grid place-items-center px-5 py-2">Top</a>
    </div>
    <!-- Options in mobile -->
    <div class="options justify-center items-center gap-2 hidden max-lg:flex" [class.expanded]="navState">
      <!-- Search form -->
      <form (ngSubmit)="searchAnime()" class="sm:hidden block relative text-white w-full basis-10">
        <input type="text" [placeholder]="searchPlaceholder" [(ngModel)]="searchQuery" name="searchQuery"
          class="search text-md button outline-none rounded-lg font-normal pl-5 pr-10 w-full h-full">
        <button type="submit"><i class="search-icon fa-solid fa-magnifying-glass absolute right-0"></i></button>
      </form>
      <a [href]="urlTranslate('/directorio', '/directory')" class="button text rounded-lg grid place-items-center w-full basis-10">{{ textTranslate('Directorio', 'Directory') }}</a>
      <a [href]="urlTranslate('/horario', '/schedule')" class="button text rounded-lg grid place-items-center w-full basis-10">{{ textTranslate('Horario', 'Schedule') }}</a>
      <a [href]="urlTranslate('/top')" class="button text rounded-lg grid place-items-center w-full basis-10">Top</a>
    </div>
  </div>

  <div class="flex justify-center items-center gap-2">
    <!-- Dark mode button -->
    <a class="cursor-pointer w-7 grid place-items-center text-white" (click)="toggleDarkMode()" [title]="textTranslate('Modo oscuro', 'Dark mode')">
      <i class="{{ dark.icon }} {{ dark.styles }}"></i>
    </a>
    <!-- Language button -->
    <a class="cursor-pointer w-7 max-sm:order-2 grid place-items-center text-white" (click)="toggleLanguage()" [title]="textTranslate('Cambiar idioma', 'Change language')">
      <img [src]="language.icon" class="{{ language.styles }}">
    </a>
    <!-- Search form -->
    <form (ngSubmit)="searchAnime()" class="search mx-2 relative max-sm:hidden text-white">
      <input type="text" [placeholder]="searchPlaceholder" [(ngModel)]="searchQuery" name="searchQuery"
        class="search h-auto input outline-none rounded-3xl font-normal pl-5 pr-10 py-2 w-full">
      <button type="submit">
        <i class="search-icon fa-solid fa-magnifying-glass absolute right-0"></i>
      </button>
    </form>
    <!-- Profile button -->
    <a class="flex justify-center items-center cursor-pointer text-4xl max-lg:text-3xl w-8 text-white">
      <i class="fa fa-user-circle"></i>
    </a>
  </div>

  <button id="menuBtn" (click)="toggleNav()" class="menu hidden max-lg:flex items-center bg-transparent border-none cursor-pointer p-0">
    <svg width="36" height="36" viewBox="0 0 100 100">
      <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
      <path class="line line2" d="M 20,50 H 80" />
      <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
    </svg>
  </button>
</div>
