<div class="section justify-between content-center py-0 gap-2">
  <a href="#" class="max-w-40 grid place-items-center">
    <img
      src="../../../assets/imgs/jkanime.webp"
      alt=""
      class="transition-all duration-900 hover:rotate-[-2deg]"
    />
  </a>
  <div class="options flex justify-center items-center gap-4">
    <app-button text="Directorio" class="font-medium"></app-button>
    <app-button text="Horario" class="font-medium"></app-button>
    <app-button text="Top" class="font-medium"></app-button>
    <app-button type="icon" icon="fa-brands fa-youtube"></app-button>
    <app-button type="icon" icon="fa-brands fa-facebook-f"></app-button>
  </div>
  <div class="account flex justify-center items-center gap-4">
    <div class="relative">
      <form>
        <input type="text" class="button search font-normal px-5 py-3 min-w-72">
        <button type="button" href="#" class="text-primary">
          <i class="icon fa-solid fa-magnifying-glass absolute right-0"></i>
        </button>
      </form>
    </div>
    <a href="#" class="text-4xl">
      <i class="fa fa-user-circle"></i>
    </a>
  </div>
</div>
