@import "../../../assets/styles/utils.scss";

.img {
  transition: all 0.4s ease-in-out;

  &:hover {
    transform: rotate(-4deg);
  }
}

.button {
  @apply h-full font-medium rounded-lg transition-all
    bg-button hover:bg-button-hover
    dark:bg-section-two-dark dark:hover:bg-button-hover-dark;
}
