<div class="section justify-between content-center py-0 gap-2">
  <a href="#" class="max-w-40 grid place-items-center">
    <img src="../../../assets/imgs/jkanime.webp" alt="" class="img" />
  </a>
  <div class="options flex justify-center items-center gap-4">
    <a href="#" class="button px-5 py-3">Directorio</a>
    <a href="#" class="button px-5 py-3">Horario</a>
    <a href="#" class="button px-5 py-3">Top</a>
    <a href="#" class="button w-12 flex justify-center items-center">
      <img src="../../../assets/imgs/yt.svg" alt="" class="h-8">
    </a>
    <a href="#" class="button w-12 text-2xl flex justify-center items-center">
      <i class="fa-brands fa-facebook-f"></i>
    </a>
  </div>
  <div class="account flex justify-center items-center gap-4">
    <a href="#" class="text-4xl">
      <i class="fa fa-user-circle"></i>
    </a>
  </div>
</div>
