@defer(when !isLoading) {
  <!-- Section 1 -->
  <section class="section py-6 gap-3 bg-section-one dark:bg-section-one-dark">
    <!-- Contenido -->
    <div class="w-full h-full flex justify-start p-5 pb-7 rounded-xl gap-4 m-2 max-md:flex-col max-md:gap-0 max-sm:m-0
    bg-[#e9e9e9] dark:bg-section-two-dark text-dark-alter dark:text-white-alter">
      <!-- Sección 1 -->
      <div class="min-w-[245px] max-sm:min-w-full w-[30%] h-full max-md:w-full">
        <img [src]="animeData.imgUrl" alt="Image of {{ animeData.name }}" class="min-w-auto w-full min-h-[405px] max-md:max-h-[405px] max-sm:max-h-[unset] max-[300px]:min-h-[280px] m-auto mb-5 rounded-md object-cover">
        <button class="w-full h-10 flex bg-secondary text-white-alter rounded-md">
          <span class="flex justify-center items-center h-full px-3 font-semibold text-sm bg-secondary-alter rounded-tl-md rounded-bl-md">{{ animeData.likes || 0 }}</span>
          <div class="w-full h-full flex justify-center items-center bg-secondary text-white rounded-tr-md rounded-br-md">
            <span class="text-sm mr-2 font-semibold">{{ textTranslate('Me gusta', 'Like') }}</span>
            <i class="fa-solid fa-thumbs-up inline text-[13px]"></i>
          </div>
        </button>
        <div class="w-full h-full mt-2 text-sm bg-tertiary text-white-alter rounded-md flex">
          <div class="w-full flex flex-col justify-center items-center py-2">
            <div>
              <i class="fa-solid fa-eye font-bold mr-1"></i>
              <span class="font-semibold">{{ calcFromLikes('m') }}</span>
            </div>
            <p class="max-sm:hidden">{{ textTranslate('Mirando', 'Watching') }}</p>
          </div>
          <div class="w-full flex flex-col justify-center items-center py-2">
            <div>
              <i class="fa-solid fa-circle-check font-bold mr-1"></i>
              <span class="font-semibold">{{ calcFromLikes('v') }}</span>
            </div>
            <p class="max-sm:hidden">{{ textTranslate('Visto', 'Seen') }}</p>
          </div>
          <div class="w-full flex flex-col justify-center items-center py-2">
            <div>
              <i class="fa-solid fa-circle-pause font-bold mr-1"></i>
              <span class="font-semibold">{{ calcFromLikes('p') }}</span>
            </div>
            <p class="max-sm:hidden">{{ textTranslate('Por ver', 'To see') }}</p>
          </div>
        </div>
      </div>
      <!-- Sección 2 -->
      <div class="ml-3 max-md:ml-0 max-md:mt-2 basis-full">
        <!-- Título y subtítulo -->
        <div class="flex justify-between mb-3 text-inherit max-md:flex-col max-md:gap-2 max-md:mb-5">
          <div class="mb-1 max-md:order-2 flex flex-col gap-4 dark:text-white">
            <h1 class="font-mulish text-3xl max-lg:text-2xl max-[300px]:text-[22px] font-bold max-md:text-center text-dark-alter text-inherit">{{ animeData.name }}</h1>
            <p class="font-mulish text-[15px] max-md:text-center text-gray-600 dark:text-gray-300">{{ animeData.alternativeName }}</p>
          </div>
          <button class="min-w-[50px] w-[50px] max-md:w-full h-[42px] ml-5 bg-tertiary grid place-items-center rounded-[4px] max-md:order-1 max-md:ml-0 max-md:mb-3">
            <i class="fa-solid fa-star text-xs text-white-alter"></i>
          </button>
        </div>
        <!-- Botones de sinopsis y de información -->
        <div class="mb-5 w-full h-[36px] max-md:h-[72px] max-lg:flex max-md:flex-col gap3 bg-white text-dark-alter font-semibold text-sm hidden">
          <button (click)="selectInfoTab(0)" [ngClass]="{'active-1': activeInfoIndex === 0}" class="grow-0 shrink-0 basis-2/4 max-md:h-[36px]">{{ textTranslate('Sinopsis', 'Synopsis') }}</button>
          <button (click)="selectInfoTab(1)" [ngClass]="{'active-1': activeInfoIndex === 1}" class="grow-0 shrink-0 basis-2/4 max-md:h-[36px]">{{ textTranslate('Información', 'Information') }}</button>
        </div>
        <!-- Sinopsis -->
        <p class="text-[18px] max-lg:text-base mb-5 font-mulish" [ngClass]="{'showing-1': activeInfoIndex === 1}">{{ textTranslate(animeData.synopsis, animeData.synopsisEnglish  ) }}</p>
        <!-- Información -->
        <div class="gap-[4%] max-xl:gap-5 flex max-xl:flex-col w-full showing" [ngClass]="{'showing-1': activeInfoIndex === 0}">
          <ul class="grow-0 shrink-0 basis-[48%] flex flex-col gap-[6px] pl-5">
            @for (item of showData; track $index) {
              <!-- Si el value es un simple string -->
              @if (!isObject(item[1])) {
                <li class="flex flex-wrap">
                  <span class="item">{{ item[0] }}: </span>
                  <!-- Key: Status -->
                  @if (item[0] === textTranslate('Estado', 'State')) {
                    @if (item[1] === 'En emisión') {
                      <div class="px-2 py-1 flex justify-center items-center gap-2 text-sm rounded-md bg-green-500 text-white">
                        <i class="text-[10px] fa-solid fa-circle"></i>
                        <span class="text-[14px] font-semibold">{{ item[1] }}</span>
                      </div>
                    } @else if (item[1] === 'Finalizado') {
                      <div class="px-2 py-1 flex justify-center items-center gap-2 text-sm rounded-md bg-red-500 text-white">
                        <i class="text-[10px] fa-solid fa-circle"></i>
                        <span class="text-[14px] font-semibold">{{ item[1] }}</span>
                      </div>
                    } @else if (item[1] === 'Proximamente') {
                      <div class="px-2 py-1 flex justify-center items-center gap-2 text-sm rounded-md bg-orange-500 text-white">
                        <i class="text-[10px] fa-solid fa-circle"></i>
                        <span class="text-[14px] font-semibold">{{ item[1] }}</span>
                      </div>
                    }
                  <!-- Key: Last Update -->
                  } @else {
                    <span class="links">{{ item[1] }}</span>
                  }
                </li>
              <!-- Si el value es un objeto -->
              } @else {
                <li class="flex flex-wrap">
                  <span class="item">{{ item[0] }}: </span>
                  <div class="links flex flex-wrap">
                    @for (subItem of objectEntries(item[1]); track $index) {
                      <a href="{{ subItem[1].url }}">{{ subItem[1].name }}</a>
                      <!-- Coloca una coma, siempre y cuando el elemento iterado no sea el último -->
                      @if ($index < (objectEntries(item[1]).length - 1)) {
                        <span class="text-dark-alter dark:text-white mr-[3px]">,</span>
                      }
                    }
                  </div>
                </li>
              }
            }
          </ul>
          <div class="grow-0 shrink-0 basis-[48%]">
            <!-- Títulos alternativos -->
            @if (animeData.alternativeTitles) {
              <div class="mb-5 acc">
                <button (click)="activateAcc(0)" class="flex justify-between items-center cursor-text font-mulish font-bold text-lg text-tertiary">
                  <h2 class="inline mr-2">{{ textTranslate('Títulos alternativos', 'Alternative titles') }}</h2>
                  <i class="fa-solid fa-chevron-down text-sm"></i>
                </button>
                <div class="acc-content font-mulish text-dark-alter dark:text-white-alter">
                  @for(item of showAltTitles; track $index) {
                    <h3 class="font-bold dark:text-blue-200">{{ item[0] }}</h3>
                    <p class="inline">{{ item[1] }}</p>
                    <br>
                  }
                </div>
              </div>
            }
            <!-- Historial -->
            @if (animeData.history) {
              <div class="mb-5 acc show">
                <button (click)="activateAcc(1)" class="flex justify-between items-center cursor-text font-mulish font-bold text-lg text-tertiary">
                  <h2 class="inline mr-2">{{ textTranslate('Historial', 'History') }}</h2>
                  <i class="fa-solid fa-chevron-down text-sm font-bold"></i>
                </button>
                <div class="acc-content links font-mulish flex flex-col gap-1">
                  @for (item of showHistory; track $index) {
                    <li class="flex flex-col">
                      <h3 class="font-bold text-dark-alter dark:text-white-alter">{{ item[0] }}</h3>
                      @for (subItem of objectEntries(item[1]); track $index) {
                        <div class="block">
                          <a class="inline cursor-pointer" [href]="searchAnime(subItem[1].url)">{{ subItem[1].name }} ({{ subItem[1].type }})</a>
                        </div>
                      }
                    </li>
                  }
                </div>
              </div>
            }
            <!-- Trailer -->
            @if (animeData.trailer != null) {
              <h2 class="mb-1 font-mulish font-bold text-lg text-tertiary">Trailer ({{ textTranslate('compartido por', 'shared from') }} fraxi12)</h2>
              <iframe
                class="rounded-md
                  w-[85%] h-[186px]
                  max-[1666px]:w-full max-[1666px]:h-48
                  max-xl:w-96 max-xl:h-60 max-lg:w-[80%] max-lg:h-56
                  max-[950px]:w-full max-[850px]:h-48
                  max-md:h-72 max-sm:h-80
                  max-[550px]:h-64 max-[450px]:h-56 max-[400px]:h-48 max-[375px]:h-[181px]"
                async [src]="trailer"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            } @else {
              <h2 class="mt-5 font-mulish font-bold text-lg text-tertiary">Trailer</h2>
              <p class="font-mulish text-dark-alter dark:text-white-alter">{{ textTranslate('No hay trailer disponible', 'No trailer available') }}</p>
            }
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section 2 -->
  <section class="section font-mulish bg-section-one dark:bg-section-one-dark">
    <!-- Chapters, Characters, Social -->
    <div class="w-full h-full mx-2 mb-6 max-sm:mx-0 flex rounded-[5px] max-lg:text-sm max-lg:font-semibold bg-section-two text-dark-alter">
      <button class="w-full h-10 rounded-tl-[5px] rounded-bl-[5px]"  (click)="selectSocialTab(0)" [ngClass]="{'active-2': activeSocialIndex === 0}">{{ textTranslate('Capítulos', 'Chapters') }}</button>
      <button class="w-full h-10 border-x border-dark-alter border-opacity-10" (click)="selectSocialTab(1)" [ngClass]="{'active-2': activeSocialIndex === 1}">{{ textTranslate('Personajes', 'Characters') }}</button>
      <button class="w-full h-10 rounded-tr-[5px] rounded-br-[5px]"  (click)="selectSocialTab(2)" [ngClass]="{'active-2': activeSocialIndex === 2}">Social</button>
    </div>
    <!-- Last chapter -->
    @if (animeData.lastChapter != null && isNewestChapter(28)) {
      <div class="w-full h-full mb-6 flex rounded-md bg-section-two dark:bg-white">
        <a href="{{ uri }}/{{ animeData.lastChapter }}" class="bg-secondary hover:bg-secondary-alter transition-colors duration-500 px-5 rounded-tl-md rounded-bl-md flex justify-center items-center">
          <i class="fa-solid fa-play text-2xl text-white-alter"></i>
        </a>
        <div class="w-full h-full px-4 py-3 flex justify-center items-center gap-2 max-md:gap-1 max-sm:gap-[2px] text-[15px] max-md:text-sm max-sm:flex-col">
          <span class="text-dark-alter font-extrabold text-nowrap max-[300px]:flex max-[300px]:flex-col max-[300px]:items-center">{{ textTranslate('Último capítulo', 'Last chapter') }}:
            <a class="text-tertiary ml-[3px] font-bold" href="{{ uri }}/{{ animeData.lastChapter }}">{{ textTranslate('Capítulo', 'Chapter') }} {{ animeData.lastChapter }}</a>
          </span>
          @if (isNewestChapter(7)) {
            <span class="text-white-alter text-sm px-2 py-[2px] max-sm:mt-1 ml-1 max-sm:ml-0 bg-secondary rounded-md">{{ textTranslate('Nuevo', 'New') }}</span>
          }
        </div>
      </div>
    }
    <!-- Chapters -->
    <div class="w-full h-full mb-6 mx-2 max-sm:mx-0 flex justify-between items-center gap-6 max-md:flex-col max-md:items-start text-dark-alter dark:text-white-alter">
      <h2 class="border-l-4 border-secondary inline text-2xl max-md:text-[23px] font-semibold font-oswald pl-4 uppercase">
        {{ textTranslate('Capítulos', 'Chapters') }}
      </h2>
      @if (chapterList != null) {
        <div class="max-md:w-full">
          <button (click)="alterChaptersListFormat()" class="max-md:inline max-md:w-[calc(50%-4px)] max-md:mr-1 mr-2 w-11 h-10 rounded-[4px] max-md:mb-2 bg-tertiary text-white-alter">
            <!-- <i class="fa-solid fa-bars text-sm" [ngClass]="{'fa-table-cells-large': chaptersListFormat}"></i> -->
            <i class="fa-solid text-sm"
              [ngClass]="{
                'fa-bars': chaptersListFormat === 'table',
                'fa-table-cells-large': chaptersListFormat === 'list',
              }">
            </i>
          </button>
          <button (click)="changeSortChapterList()" [ngClass]="{'rotate': sort}" class="max-md:inline max-md:w-[calc(50%-4px)] max-md:mr-0 max-md:ml-1 mr-2 w-48 h-10 max-lg:w-32 rounded-[4px] max-md:mb-2 bg-tertiary text-white-alter">
            <i class="fa-solid fa-arrow-down-long text-sm mr-2"></i>
            <span class="text-[15px]">{{ textTranslate('Invertir', 'Invest') }}</span>
          </button>
          <input
            type="number"
            [placeholder]="textTranslate('Buscar capítulo (número)', 'Search chapter (number)') + '...'"
            value="0"
            [(ngModel)]="searchChapter"
            (input)="filterChapters()"
            class="text-start outline-none max-md:ml-0 px-3 min-w-60 w-auto h-10 max-md:block max-md:w-full text-[15px] max-md:text-sm rounded-[4px] border border-opacity-20 border-dark-alter text-dark-alter"
          >
        </div>
      }
    </div>
    <!-- Next chapter -->
    @if (animeData.data['status'] === 'En emisión' && animeData.nextChapterDate != null) {
      <div class="w-full h-full mb-4 px-4 py-3 flex justify-center items-center text-[15px] max-md:text-sm max-sm:flex-col rounded-md bg-section-two">
        <span class="font-extrabold text-nowrap text-dark-alter">{{ textTranslate('Próximo capítulo', 'Next chapter') }}:</span>
        <span class="ml-1 max-sm:ml-0 max-sm:text-center text-black">{{ parseAndFormatDate(animeData.nextChapterDate, false) }}</span>
      </div>
    }
    <!-- Chapter list -->
    @if (chapterList != null) {
      <div class="chapters w-full h-full max-h-[482px] max-lg:max-h-[964px] mb-6 mx-2 max-sm:mx-0 gap-x-7 gap-y-4 flex content-start flex-wrap overflow-auto sm:overscroll-y-none">
        @if (chaptersListFormat === 'list') {
          @for (item of chapterList; track $index) {
            <app-chapter-item class="h-[150px] w-[calc(25%-21px)] max-lg:w-[calc(50%-14px)] max-[550px]:w-full" [type]="2"
              [imgUrl]="animeData.imgUrl" [url]="calcChapterUrl(item.chapter)" [category]="item.type" [chapter]="item.chapter" [viewed]="false"
            ></app-chapter-item>
          }
        } @else if (chaptersListFormat === 'table') {
          <div class="border w-full rounded-md text-dark-alter dark:text-white-alter border-section-two dark:border-[#2b2e3a] dark:bg-[#2b2e3a] text-[15px] max-md:text-sm">
            <div class="sticky top-0 w-full h-10 flex justify-between items-center font-bold bg-section-one dark:bg-section-one-dark rounded-tl-md transition-all duration-500">
              <div class="w-[350px] max-sm:basis-[70%] pl-4">
                <i class="fa-solid fa-hashtag text-[12px]"></i>
                <span class="pl-2">{{ textTranslate('Capítulo', 'Chapter') }}</span>
              </div>
              <div class="w-full max-sm:w-[350px] pl-4 max-md:pl-3 max-sm:hidden">
                <i class="fa-solid fa-code text-[12px]"></i>
                <span class="pl-2">{{ textTranslate('Título', 'Title') }}</span>
              </div>
              <div class="w-[300px] max-lg:w-[200px] max-[500px]:hidden pl-4 max-md:pl-3">
                <i class="fa-solid fa-tag text-[12px]"></i>
                <span class="pl-2">Sub</span>
              </div>
              <div class="w-full px-4 max-md:pl-3">
                <i class="fa-regular fa-calendar text-[12px]"></i>
                <span class="pl-2">{{ textTranslate('Fecha', 'Date') }}</span>
              </div>
            </div>
            <div class="w-full rounded-bl-md rounded-br-md">
              @for (item of chapterList; track $index) {
                @if ($index % 2 == 0) {
                  <a [href]="calcChapterUrl(item.chapter)" class="bg-[#e4e4e4] dark:bg-[#2b2e3a] w-full h-[36.7px] py-1 flex justify-between items-center group dark:hover:bg-primary hover:text-white-alter hover:bg-primary transition-all duration-500">
                    <div class="w-[350px] h-full max-sm:hidden pl-4 flex items-center gap-3">
                      <img [src]="animeData.imgUrl" class="w-6 h-full rounded-sm" alt="Chapter {{ item.chapter }} image">
                      <span>{{ item.chapter }}</span>
                    </div>
                    <span class="w-full max-sm:basis-[70%] h-[34px] flex items-center pl-4">{{ textTranslate('Capítulo', 'Chapter') }} {{ item.chapter }}</span>
                    <div class="w-[300px] max-lg:w-[200px] max-[500px]:hidden ml-4">
                      <span class="text-[12px] font-semibold px-2 py-[2px] rounded-[4px] transition-colors duration-500 text-white-alter" [ngClass]="{
                          'bg-primary group-hover:bg-primary-alter': item.type == 'Sub',
                          'bg-red-500 group-hover:bg-red-700': item.type == 'Esp'
                        }">{{ item.type }}
                      </span>
                    </div>
                    <span class="w-full px-4">{{ item.date }}</span>
                  </a>
                } @else {
                  <a [href]="calcChapterUrl(item.chapter)" class="bg-section-one dark:bg-section-one-dark w-full h-[36.7px] py-1 flex justify-between items-center group dark:hover:bg-primary hover:text-white-alter hover:bg-primary transition-all duration-500">
                    <div class="w-[350px] h-full max-sm:hidden pl-4 flex items-center gap-3">
                      <img [src]="animeData.imgUrl" class="w-6 h-full rounded-sm" alt="Chapter {{ item.chapter }} image">
                      <span>{{ item.chapter }}</span>
                    </div>
                    <span class="w-full max-sm:basis-[70%] h-[34px] flex items-center pl-4">{{ textTranslate('Capítulo', 'Chapter') }} {{ item.chapter }}</span>
                    <div class="w-[300px] max-lg:w-[200px] max-[500px]:hidden ml-4">
                      <span class="text-[12px] font-semibold px-2 py-[2px] rounded-[4px] transition-colors duration-500 text-white-alter" [ngClass]="{
                          'bg-primary group-hover:bg-primary-alter': item.type == 'Sub',
                          'bg-red-500 group-hover:bg-red-700': item.type == 'Esp'
                        }">{{ item.type }}
                      </span>
                    </div>
                    <span class="w-full px-4">{{ item.date }}</span>
                  </a>
                }
              }
            </div>
          </div>
        }
      </div>
    } @else {
      <div class="mb-6 mx-2 w-full flex items-center">
        <p class="text-white-alter font-medium">{{ textTranslate('No hay capítulos programados', 'No chapters scheduled') }}</p>
      </div>
    }
  </section>
  <section class="section w-full pt-2 mb-2 text-sm max-lg:text-[13px] flex-col items-center gap-4 bg-section-one dark:bg-section-one-dark">
    <h2 class="mx-2 max-sm:mx-0 border-l-4 border-secondary self-start inline text-2xl max-md:text-[23px] font-semibold font-oswald pl-4 uppercase">
      {{ textTranslate('Comentarios', 'Comments') }}
    </h2>
    <div id="disqus_thread" class="w-full px-2 max-sm:px-0 "></div>
    <noscript class="w-full">Please enable JavaScript to view the 
      <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
  </section>
} @placeholder {
  <section class="section center bg-section-one dark:bg-section-one-dark">
    <div class="loader-1"></div>
  </section>
}
