@defer(when !isLoading) {
  <section class="section min-h-base py-6 flex-col justify-start items-center gap-3 bg-section-one dark:bg-section-one-dark">
    <p class="text-gray-800 dark:text-white">{{ animeData.name }}!</p>
    <div>
      @if (animeData.trailer) {
        <iframe
          width="560"
          height="315"
          [src]="trailer"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      } @else {
        <p>asd</p>
      }
    </div>
  </section>
} @placeholder {
  <section class="section center bg-section-one dark:bg-section-one-dark">
    <div class="loader-1"></div>
  </section>
}
