@import "../../../assets/styles/utils.scss";
@import "../../../assets/styles/loaders.scss";

$key-width: 108px;

.active-1 {
  @apply bg-tertiary text-white-alter;
}

.active-2 {
  @apply bg-primary text-white-alter;
}

.showing-1 {
  @apply max-lg:hidden;
}

.item {
  list-style-type: square;
  display: list-item;
  flex-basis: $key-width;
  // color: #8999e6;
}

.links {
  flex-basis: calc(100% - $key-width);
  @apply text-blue-500 dark:text-link;

  a {
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #FB9800;
    }
  }
}

i {
  transition: all .4s ease-in-out;
}

.rotate {  
  i {
    transition: all .4s ease-in-out;
    transform: rotate(180deg);
  }
}

.acc {
  .acc-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      max-height .6s ease-in-out,
      opacity .6s ease-in-out;
  }


  &.show {
    .acc-content {
      max-height: 100vh;
      opacity: 1;
    }

    i {
      transform: rotate(180deg);
    }
  }
}

.chapters {
  &::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    @apply bg-fondo-scroll dark:bg-[#2b2e3a]; /* Color de fondo */
  }

}
