<section class="section min-h-section py-6 justify-center items-start bg-section-one dark:bg-section-one-dark text-gray-800">
  <section class="flex flex-col w-full max-xl:w-[80%] max-lg:w-full">
    <!-- Icons -->
    <div class="mb-10 w-full flex items-center flex-wrap gap-2 text-[15px] font-semibold font-mulish text-dark-alter dark:text-white-alter">
      <a routerLink="/" class="flex items-center gap-[6px] hover:text-primary dark:hover:text-secondary transition-colors duration-500">
        <i class="fa-solid fa-house text-[12px]"></i>
        <span>{{ textTranslate('Inicio', 'Home') }}</span>
      </a>
      <i class="fa-solid fa-chevron-right text-[10px]"></i>
      <a [routerLink]="['/', textTranslate('horario', 'schedule')]" class="hover:text-primary dark:hover:text-secondary transition-colors duration-500">
        {{ textTranslate('Horario', 'Schedule') }}
      </a>
      <i class="fa-solid fa-chevron-right text-[10px]"></i>
      <!-- Meses -->
      @if (!isLoading) {
        <span class="text-primary dark:text-secondary">
          {{ scheduleData.seasonName }}
          <span>(</span>
            @for(item of scheduleData.seasonMonths; track $index) {
              @if ($index < scheduleData.seasonMonths.length - 1) {
                <span>{{ item }} - </span>
              } @else {
                <span>{{ item }}</span>
              }
            }
          <span>)</span>
        </span>
      }
    </div>

    <!-- Title -->
    <h2 class="mb-4 border-l-4 pl-4 flex flex-wrap items-center self-start border-primary dark:border-secondary text-dark-alter dark:text-white-alter text-[24px] max-md:text-[22px] max-[400px]:text-[20px] font-semibold font-oswald uppercase">
      <i class="fa-solid fa-home text-[18px] h-9 flex items-center mr-3"></i>
      <span class="mr-2">
        {{ textTranslate('Horario', 'Schedule') }}
      </span>
      @if (!isLoading) {
        <span class="px-2 mr-2 text-white-alter bg-primary dark:bg-secondary-alter rounded-sm">
          {{ scheduleData.seasonName }}
        </span>
        <span>(
          @for(item of scheduleData.seasonMonths; track $index) {
            {{ item }}
            @if ($index < scheduleData.seasonMonths.length - 1) {
              -
            }
          }
        )</span>
      }
    </h2>
    <!-- Filtrar -->
    <input
      type="text"
      [placeholder]="textTranslate('Filtrar anime', 'Filter anime') + '...'"
      value=""
      [(ngModel)]="filter"
      (input)="filters()"
      class="mb-4 w-auto max-md:w-full default-input"
    >
    <!-- Separator -->
    <span class="separator"></span>
    
    <!-- Content -->
    @if (!isLoading) {
      <div class="mb-10 flex max-xl:flex-col gap-6">
        <!-- List of available days -->
        <div class="w-full h-fit flex-grow flex-wrap basis-[40%] max-xl:[basis-full]: max-w-[300px] max-xl:max-w-full text-[15px] max-lg:text-[14px]
          rounded-md bg-section-two dark:bg-section-two-dark">
          @for (item of daysList; track $index) {
            <button class="w-full p-4 max-xl:py-3 flex flex-wrap justify-between items-center gap-2
              hover:text-white-alter hover:bg-primary dark:hover:bg-header-color-dark"
              [ngClass]="{
                'rounded-tl-md rounded-tr-md': $index === 0,
                'rounded-bl-md rounded-br-md' : $index === daysList.length - 1,
                'text-white-alter bg-primary dark:bg-header-color-dark' : $index === selectedDay
              }" (click)="selectDay($index)">
              <span>{{ item }}</span>
              <div class="flex justify-between items-center gap-3">
                <span class="opacity-70 dark:text-gray-400 dark:opacity-85 text-[14px]">{{ getDayAndMonthFromDate(daysMap.get($index)![0].date!) }}</span>
                @if ($index === scheduleData.todayValue) {
                  <div class="px-[6px] py-[1px] font-semibold text-[10px] rounded-[4px] bg-secondary text-white-alter">« {{ textTranslate('HOY', 'TODAY') }} »</div>
                }
              </div>
              
            </button>
          }
        </div>
        <!-- List of days -->
        <div class="w-full h-full rounded-md">
          <h3 class="w-full px-4 py-3 rounded-tl-md rounded-tr-md bg-primary dark:bg-header-color-dark text-white-alter">
            @if (selectedDay >= 0 && selectedDay < daysList.length) {
              {{ daysList[selectedDay] }}
            } @else {
              {{ textTranslate('Anime filtrados', 'Filtered anime') }}
            }
          </h3>
          <div class="animes-grid-container max-xl:mb-0 min-h-[332px] max-[360px]:min-h-[274px] p-4 rounded-bl-md rounded-br-md bg-section-two dark:bg-section-two-dark">
            @if (selectedDay >= 0 && selectedDay < daysList.length) {
              @for (item of daysList; track $index) {
                <!-- Show selected day based on a variable -->
                @if (selectedDay === $index) {
                  @for (chapter of daysMap.get($index); track $index) {
                    <app-schedule-item class="anime-grid-child min-h-[332px] max-[360px]:min-h-[274px]" [chapterInfo]="chapter"></app-schedule-item>
                  }
                }
              }
            } @else {
              @for (chapter of filteredAnimes; track $index) {
                <app-schedule-item class="anime-grid-child min-h-[332px] max-[360px]:min-h-[274px]" [chapterInfo]="chapter"></app-schedule-item>
              }
            }
          </div>
        </div>
      </div>
    }
  </section>
  <!-- Comments -->
  <section class="w-full mb-6 text-sm max-lg:text-[13px] flex-col items-center gap-4 bg-section-one dark:bg-section-one-dark">
    @if (!isLoading) {
      <h2 class="h-[30px] max-md:mx-0 flex border-l-4 self-start border-secondary min-[1800px]:text-[20px] max-[1800px]:text-[18px] max-md:text-[16px]
          font-semibold font-oswald pl-3 items-center uppercase text-dark-alter dark:text-white">
        {{ textTranslate('Comentarios', 'Comments') }}
      </h2>
      <div id="disqus_thread" class="w-full px-5 max-md:px-0"></div>
      <noscript class="w-full">Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    }
  </section>
</section>