<div class="w-full min-h-[360px] overflow-x-auto font-mulish bg-[#184154]">
  <h1 class="m-3 font-semibold text-[18px] text-center text-[#B5B6B7]">
    {{ textTranslate('Enlaces de descarga', 'Download links') }}
    <i class="pl-1 fa-solid fa-file-arrow-down text-[20px]"></i>
  </h1>
  <table class="w-full">
    <tbody>
      <tr class="font-bold text-white-alter w-full h-[42px] bg-[#153b4d]">
        <th class="min-w-[30%] w-max text-start pl-5">{{ textTranslate('Servidor', 'Server') }}</th>
        <th class="text-start pl-5 max-sm:hidden">{{ textTranslate('Formato', 'Format') }}</th>
        <th class="text-start pl-5 max-[500px]:hidden">{{ textTranslate('Calidad', 'Quality') }}</th>
        <th class="text-start px-5">{{ textTranslate('Descarga', 'Download') }}</th>
      </tr>
      @for (item of data; track $index) {
        <tr class="relative top-[5px] font-normal text-white-alter w-full h-[42px]">
          <td class="text-start pl-5">{{ item.name }}</td>
          <td class="text-start pl-5 max-sm:hidden">MP4</td>
          <td class="text-start pl-5 max-[500px]:hidden">HD</td>
          <td class="text-start text-[14px] max-lg:text-[12px] px-5">
            <a class="px-[12px] max-lg:px-2 py-[6px] rounded-md text-white bg-secondary hover:bg-secondary-alter transition-colors duration-500"
              href="{{ item.url }}" target="_blank">
              {{ textTranslate('Descargar', 'Download') }}
              <i class="pl-1 fa-solid fa-circle-down max-[300px]:hidden"></i>
            </a>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>