<section class="section min-h-base flex-col items-center py-6 bg-section-one dark:bg-section-one-dark">
  <span class="text-gray-800 dark:text-white">directory works!</span>
  <!-- <iframe
    class="player_conte"
    src="https://jkanime.bz/um.php?e=R1B1dUtCalpYaGRWZVhIdndidkpwSUdBWWFaUE9OdDlpRVJRN0ZVcUdxYzlFNnY5MjZQTSsvdnp3K0hybDdaK0xqWkphNDNpZ0VGa2dGeGlKbm9XTnc9PTo6uok2N0HpheuwFmVnDTT.lg--&t=124d7f5a385551698f6b886e39899a23"
    width="565"
    height="318"
    scrolling="no"
    frameborder="0"
    allowFullScreen="true">
  </iframe> -->
</section>