<section class="section min-h-section py-6 justify-center items-start bg-section-one dark:bg-section-one-dark">
  <section class="flex flex-col w-full max-xl:w-[80%] max-lg:w-full">
    <!-- Icons -->
    <div class="mb-10 w-full flex items-center flex-wrap gap-2 text-[15px] font-semibold font-mulish text-dark-alter dark:text-white-alter">
      <a routerLink="/" class="flex items-center gap-[6px] hover:text-primary dark:hover:text-secondary transition-colors duration-500">
        <i class="fa-solid fa-house text-[12px]"></i>
        <span>{{ textTranslate('Inicio', 'Home') }}</span>
      </a>
      <i class="fa-solid fa-chevron-right text-[10px]"></i>
      <a [routerLink]="textTranslate('directorio', 'directory')" class="text-primary hover:text-primary-alter dark:text-secondary dark:hover:text-secondary-alter transition-colors duration-500">
        {{ textTranslate('Directorio', 'Directory') }}
      </a>
    </div>

    <!-- Title -->
    <h2 class="mb-4 border-l-4 self-start border-primary dark:border-secondary text-dark-alter dark:text-white-alter text-[24px] max-md:text-[22px] max-[400px]:text-[20px] font-semibold font-oswald pl-4 flex items-center uppercase">
      <i class="fa-solid fa-home text-[18px] h-9 flex items-center mr-3"></i>
      {{ textTranslate('LISTA COMPLETA DE ANIMES', 'COMPLETE ANIME LIST') }}
    </h2>
    <!-- Letters -->
    <div class="mb-2 w-full flex justify-center max-xl:justify-start overflow-auto gap-[6px] p-[10px] rounded-md font-semibold text-[16px] max-md:text-[14px]
      bg-section-two dark:bg-section-two-dark text-dark-alter dark:text-white-alter" *ngIf="filterData">
      @for (item of letters; track $index) {
        <a (click)="constructLetterUrl(item)" class="min-w-[30px] h-[40px] flex justify-center items-center rounded-sm transition-colors duration-200 cursor-pointer
          hover:bg-dark-alter dark:hover:bg-white-alter hover:text-white-alter dark:hover:text-dark-alter">
          {{ item }}
        </a>
      }
    </div>
    <!-- Filter -->
    <div class="mb-4 w-full flex flex-wrap justify-end gap-[6px] py-[10px]" *ngIf="filterData">
      <select [(ngModel)]="genreSelectedOption" class="flex-auto text-[14px] px-1 py-2 rounded-sm border-none outline-none max-w-[calc(100dvw-32px)]
        bg-section-two dark:bg-section-two-dark text-dark-alter dark:text-white-alter" [ngClass]="{'shadow-sm shadow-primary dark:shadow-secondary': genreSelectedOption !== ''}">
        <option value="">{{ textTranslate('Género', 'Genre') }}</option>
        @for (item of filterData!.genres; track $index) {
          <option [ngClass]="{'text-primary dark:text-secondary': item.url === genreSelectedOption}" [value]="item.url">{{ item.name }}</option>
        }
      </select>
      <select [(ngModel)]="seasonSelectedOption" class="flex-auto text-[14px] px-1 py-2 rounded-sm border-none outline-none max-w-[calc(100dvw-32px)]
      bg-section-two dark:bg-section-two-dark text-dark-alter dark:text-white-alter" [ngClass]="{'shadow-sm shadow-primary dark:shadow-secondary': seasonSelectedOption !== ''}">
        <option value="">{{ textTranslate('Temporada', 'Season') }}</option>
        @for (item of filterData!.seasons; track $index) {
          <option [ngClass]="{'text-primary dark:text-secondary': item.url === seasonSelectedOption}" [value]="item.url">{{ item.name }}</option>
        }
      </select>
      <select [(ngModel)]="studioSelectedOption" class="flex-auto text-[14px] px-1 py-2 rounded-sm border-none outline-none max-w-[calc(100dvw-32px)]
      bg-section-two dark:bg-section-two-dark text-dark-alter dark:text-white-alter" [ngClass]="{'shadow-sm shadow-primary dark:shadow-secondary': studioSelectedOption !== ''}">
        <option value="">{{ textTranslate('Estudio', 'Studio') }}</option>
        @for (item of filterData!.studios; track $index) {
          <option [ngClass]="{'text-primary dark:text-secondary': item.url === studioSelectedOption}" [value]="item.url">{{ item.name }}</option>
        }
      </select>
      <select [(ngModel)]="statusSelectedOption" class="flex-auto text-[14px] px-1 py-2 rounded-sm border-none outline-none max-w-[calc(100dvw-32px)]
      bg-section-two dark:bg-section-two-dark text-dark-alter dark:text-white-alter" [ngClass]="{'shadow-sm shadow-primary dark:shadow-secondary': statusSelectedOption !== ''}">
        <option value="">{{ textTranslate('Estado', 'Status') }}</option>
        @for (item of filterData!.status; track $index) {
          <option [ngClass]="{'text-primary dark:text-secondary': item.url === statusSelectedOption}" [value]="item.url">{{ item.name }}</option>
        }
      </select>
      <select [(ngModel)]="typeSelectedOption" class="flex-auto text-[14px] px-1 py-2 rounded-sm border-none outline-none max-w-[calc(100dvw-32px)]
      bg-section-two dark:bg-section-two-dark text-dark-alter dark:text-white-alter" [ngClass]="{'shadow-sm shadow-primary dark:shadow-secondary': typeSelectedOption !== ''}">
        <option value="">{{ textTranslate('Tipo', 'Type') }}</option>
        @for (item of filterData!.types; track $index) {
          <option [ngClass]="{'text-primary dark:text-secondary': item.url === typeSelectedOption}" [value]="item.url">{{ item.name }}</option>
        }
      </select>
      <select [(ngModel)]="subSelectedOption" class="flex-auto text-[14px] px-1 py-2 rounded-sm border-none outline-none max-w-[calc(100dvw-32px)]
      bg-section-two dark:bg-section-two-dark text-dark-alter dark:text-white-alter" [ngClass]="{'shadow-sm shadow-primary dark:shadow-secondary': subSelectedOption !== ''}">
        <option value="">{{ textTranslate('Idioma', 'Language') }}</option>
        @for (item of filterData!.subs; track $index) {
          <option [ngClass]="{'text-primary dark:text-secondary': item.url === subSelectedOption}" [value]="item.url">{{ item.name }}</option>
        }
      </select>
      <select [(ngModel)]="orderSelectedOption" class="flex-auto text-[14px] px-1 py-2 rounded-sm border-none outline-none max-w-[calc(100dvw-32px)] max-[375px]:basis-full
      bg-section-two dark:bg-section-two-dark text-dark-alter dark:text-white-alter" [ngClass]="{'shadow-sm shadow-primary dark:shadow-secondary': orderSelectedOption !== ''}">
        <option value="">{{ textTranslate('Ordenar', 'Order') }}</option>
        @for (item of filterData!.orders; track $index) {
          <option [ngClass]="{'text-primary dark:text-secondary': item.url === orderSelectedOption}" [value]="item.url">{{ item.name }}</option>
        }
      </select>
      <button type="submit" (click)="filter()" class="max-[441px]:flex-auto flex justify-center items-center gap-2 px-3 py-[5px] rounded-md transition-colors duration-500 text-white-alter
        bg-primary hover:bg-primary-alter order-9 text-[14px]">
        <i class="fa-solid fa-filter"></i>
        <span>{{ textTranslate('Filtrar', 'Filter') }}</span>
      </button>
      <button type="submit" (click)="resetFilters()" class="max-[216px]:flex-auto flex justify-center items-center gap-2 size-[37px] rounded-md transition-colors duration-500 text-white-alter
        bg-red-500 hover:bg-red-600" [title]="textTranslate('Restablecer filtros', 'Reset filters')">
        <i class="fa-solid fa-ban text-[14px]"></i>
      </button>
      <button type="submit" (click)="copyFilters()" class="max-[216px]:flex-auto flex justify-center items-center gap-2 size-[37px] rounded-md transition-colors duration-500 text-white-alter
        bg-green-500 hover:bg-green-600" [title]="textTranslate('Copiar URL con filtros aplicados', 'Copy URL with filters applied')">
        <i class="fa-solid fa-clipboard text-[14px]"></i>
      </button>
    </div>
    <!-- Separator -->
    <span class="separator"></span>
    
    <!-- Content -->
    @if (!isLoading) {
      @if (directoryData.length > 0) {
        <!-- List -->
        <div class="animes-grid-container mb-12 max-xl:mb-0">
          @for (item of directoryData; track $index) {
            <app-anime-item class="anime-grid-child" [animeInfo]="item"></app-anime-item>
          }
        </div>
        <!-- Previous and Next page -->
        <div class="w-full flex flex-wrap justify-center items-center gap-3 mt-3 mb-6 max-md:mt-1 max-md:mb-4 text-white-alter">
          @if (page > 1) {
            <a [href]="previousSearch()" class="px-6 py-[6px] rounded-md bg-secondary transition-colors duration-500 hover:bg-secondary-alter">
              {{ textTranslate('Anterior', 'Previous') }}
            </a>
          }
          @if (directoryData.length == 30) {
            <a [href]="nextSearch()" class="px-6 py-[6px] rounded-md bg-secondary transition-colors duration-500 hover:bg-secondary-alter">
              {{ textTranslate('Siguiente', 'Next') }}
            </a>
          }
        </div>
      } @else {
        <p class="text-dark-alter dark:text-white-alter">{{ textTranslate('No se encontraron resultados', 'No results found') }}</p>
      }
    } @else {
      <div class="loader-1"></div>
    }
  </section>
</section>