<section class="section min-h-section py-6 justify-center items-start bg-section-one dark:bg-section-one-dark">
  <section class="flex flex-col w-full max-xl:w-[80%] max-lg:w-full">
    <!-- Icons -->
    <div class="mb-10 w-full flex items-center flex-wrap gap-2 text-[15px] font-semibold font-mulish text-dark-alter dark:text-white-alter">
      <a routerLink="/" class="flex items-center gap-[6px] hover:text-primary dark:hover:text-secondary transition-colors duration-500">
        <i class="fa-solid fa-house text-[12px]"></i>
        <span>{{ textTranslate('Inicio', 'Home') }}</span>
      </a>
      <i class="fa-solid fa-chevron-right text-[10px]"></i>
      <a [href]="uri" class="hover:text-primary dark:hover:text-secondary transition-colors duration-500">
        {{ textTranslate('Buscar', 'Search') }}
      </a>
      <i class="fa-solid fa-chevron-right text-[10px]"></i>
      <span class="text-primary dark:text-secondary">
        {{ name }}
      </span>
    </div>

    <!-- Title -->
    <h2 class="mb-4 border-l-4 self-start border-secondary text-dark-alter dark:text-white-alter text-[24px] max-md:text-[22px] max-[400px]:text-[20px] font-semibold font-oswald pl-4 flex items-center uppercase">
      {{ textTranslate('RESULTADOS DE', 'RESULTS FOR') }} {{ name }}
    </h2>
    <!-- Separator -->
    <span class="separator"></span>
    
    <!-- Content -->
    @if (!isLoading) {
      @if (searchData.message == null) {
        <!-- List -->
        <div class="animes-grid-container mb-12 max-xl:mb-0 min-h-[332px] max-[360px]:min-h-[274px]">
          @for (item of searchData.searchList; track $index) {
            <app-anime-item class="anime-grid-child min-h-[332px] max-[360px]:min-h-[274px]" [animeInfo]="item"></app-anime-item>
          }
        </div>
        <!-- Previous and Next page -->
        <div class="w-full flex flex-wrap justify-center items-center gap-3 mt-3 mb-6 max-md:mt-1 max-md:mb-4 text-white-alter">
          @if (page > 1) {
            <a [href]="previousSearch()" class="px-6 py-[6px] rounded-md bg-secondary transition-colors duration-500 hover:bg-secondary-alter">
              {{ textTranslate('Anterior', 'Previous') }}
            </a>
          }
          @if (page < searchData.lastPage!) {
            <a [href]="nextSearch()" class="px-6 py-[6px] rounded-md bg-secondary transition-colors duration-500 hover:bg-secondary-alter">
              {{ textTranslate('Siguiente', 'Next') }}
            </a>
          }
        </div>
      } @else {
        <p class="text-dark-alter dark:text-white-alter">{{ textTranslate('No se encontraron resultados', 'No results found') }}</p>
      }
    } @else {
      <div class="loader-1"></div>
    }
  </section>
</section>