<!-- Nombre -->
<p class="mb-1 text-[12px] text-center font-semibold font-mulish line-clamp-2">{{ chapterInfo.name }}</p>
<!-- Imagen -->
@if (chapterInfo.imgUrl !== undefined) {
  <app-img class="h-[255px] max-[360px]:h-[215px] border-[1px] border-[rgba(255,255,255,.5)] rounded-md"
    [imgUrl]="chapterInfo.imgUrl" [url]="chapterInfo.url" iconClass="fa-solid fa-hand-pointer" iconSize="text-4xl">
  </app-img>
} @else {
  <app-img class="h-[255px] max-[360px]:h-[215px] border-[1px] border-[rgba(255,255,255,.5)] rounded-md"
    imgUrl="assets/imgs/error.svg" [url]="chapterInfo.url" objFit="contain">
  </app-img>
}
<!-- Tags -->
<div class="mt-1 flex justify-center flex-wrap gap-1">
  <app-tag [type]="1" category="{{ textTranslate('Próximo capítulo:', 'Next chapter:') }} {{ chapterInfo.chapter }}" bg="primary"></app-tag>
</div>
<!-- Date and Time -->
<p class="text-[12px] text-center font-semibold dark:font-medium font-mulish line-clamp-2">{{ chapterInfo.date }} - {{ chapterInfo.time }}</p>