<section class="section min-h-base py-6 justify-center items-start gap-6 bg-section-one dark:bg-section-one-dark">
  <div class="jkinfo w-full h-28 rounded-xl bg-gray-800">
    <div class="infoc w-full h-full rounded-xl flex flex-col justify-center items-center">
      <h2 class="text-xl pb-3 text-white">Temporada Invierno 2024</h2>
      <a href="/directorio/estrenos" class="py-2 px-56 max-md:px-8 transition-colors rounded-md cursor-pointer
        bg-gray-100 text-black hover:bg-primary hover:text-white">Ver más
      </a>
    </div>
  </div>
</section>

<section class="section min-h-test py-6 justify-center items-center bg-section-two dark:bg-section-two-dark">
</section>

<section class="section min-h-test py-6 justify-center items-center bg-section-one dark:bg-section-one-dark">
</section>
