@import "../../../assets/styles/utils.scss";
@import "../../../assets/styles/loaders.scss";

// Temporada de Invierno 2024
.jkinfo {
  background: #f69d13 url("https://cdn.jkdesu.com/jkinfo.png") left center;

  .infoc {
    background: rgb(0 0 0 / 66%);
  }
}

.test {
  z-index: 10;
}

// Button active
#options {
  .active {
    @apply bg-secondary-alter transition-all duration-500 ease-in-out;
  }
}
/* Base styles for the button */
.darkmode-btn {
  @apply flex justify-center items-center gap-[18px] w-full h-full pl-[6px] pr-4 rounded-2xl max-[350px]:hidden;
  @apply transition-[background] duration-500 ease-in-out;
  @apply bg-[#b4b4b4] hover:bg-[#929292] text-[#ffffff];

  i {
    @apply transition-transform duration-500 ease-in-out transform translate-x-[50%];
  }

  &.active {
    @apply bg-primary hover:bg-primary-alter text-white-alter;

    i {
      @apply translate-x-[0%];
    }
  }
}

.last-animes {
  flex: 1 1 800px;

  .last-chapter {
    min-height: 94px;
    transition: background 0.3s ease-in-out;

    &:hover {
      h4 {
        @apply decoration-black dark:decoration-white;
      }
    }

    img {
      @apply flex-grow-0 flex-shrink-0 basis-[37.5%] max-md:basis-[112px] object-cover py-[3px];
      // flex: 0 0 112px;
      // flex: 0 0 37.5%;
      object-fit: cover;
      padding: 3px 0;
    }
  }
}

.top {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 175px 175px;
  gap: 10px;
  grid-template-areas:
    "one one one two two three three four four"
    "one one one five six seven eight nine ten";

  .top-child {
    border-radius: 6px;

    &.one {
      grid-area: one;
    }
    &.two {
      grid-area: two;
    }
    &.three {
      grid-area: three;
    }
    &.four {
      grid-area: four;
    }
    &.five {
      grid-area: five;
    }
    &.six {
      grid-area: six;
    }
    &.seven {
      grid-area: seven;
    }
    &.eight {
      grid-area: eight;
    }
    &.nine {
      grid-area: nine;
    }
    &.ten {
      grid-area: ten;
    }
  }
}

@media screen and (max-width: 1280px) {
  .top {
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "one one"
      "two two"
      "three three"
      "four four"
      "five six"
      "seven eight"
      "nine ten";

    .top-child {
      height: 125px;
      display: inline;
    }
  }
}
