<!-- Type 1: Category (type! 1, category!, bg? [red], style? [rounded]) -->
<!-- Type 2: Chapters (type! 2, chapter!, viewed? [false]) -->

@if (category !== undefined) {
  @if (type === 1) {
    <div class="block px-[10px] font-medium bg-[#E53637] text-white" [ngClass]="{
      'py-[1px] rounded-xl text-[10px]': style === 'rounded',
      'py-[4px] rounded-md text-[12px]': style === 'square',
      'bg-[#E53637]': bg === 'red' || category === 'Finalizado',
      'bg-green-400': bg === 'green' || category === 'En emisión' || category === 'En emision',
      'bg-primary': bg === 'primary',
      'bg-purple-500': bg === 'secondary' || category === 'Proximamente',
    }">
      <!-- Translations -->
      @if (category === 'Finalizado' || category === 'Concluido') {
        <span>{{ textTranslate('Finalizado', 'Finished') }}</span>
      } @else if (category === 'En emisión' || category === 'En emision') {
        <span>{{ textTranslate('En emisión', 'In emision') }}</span>
      } @else if (category === 'Proximamente') {
        <span>{{ textTranslate('Proximamente', 'Coming soon') }}</span>
      } @else {
        <span>{{ defaultTranslate(category) }}</span>
      }
    </div>
  } @else if (type === 2) {
    @if (viewed) {
      <div class="inline left-2 px-[10px] py-[2px] rounded-xl text-[10px] font-medium bg-dark-alter text-white-alter">
        <span>{{ textTranslate('Capítulo', 'Chapter') }} {{ chapter }}</span>
        <i class="ml-2 fa-solid fa-check text-secondary"></i>
      </div>
    } @else {
      <div class="inline px-[10px] py-[2px] rounded-xl text-[10px] font-medium bg-secondary text-white-alter">
        <span>{{ textTranslate('Capítulo', 'Chapter') }} {{ chapter }}</span>
      </div>
    }
  }
}