<section class="section min-h-section py-6 justify-center items-start bg-section-one text-dark-alter dark:bg-section-one-dark dark:text-white-alter">
  <section class="flex flex-col w-full max-xl:w-[80%] max-lg:w-full">
    <select [(ngModel)]="selectedOption" class="w-[160px] px-2 py-1 rounded-md bg-section-two-dark border-none outline-none">
      <option value="translations">Translations</option>
      <option value="specialCases">Special Cases</option>
    </select>
    <button class="mt-3 w-max py-1 px-4 rounded-md bg-secondary" (click)="downloadData(selectedOption)">Download Data</button>
  </section>
</section>
