@import '../../../assets/styles/utils.scss';

.test {
  height: 400px;
}

.jkinfo {
  background: #f69d13 url("https://cdn.jkdesu.com/jkinfo.png") left center;

  .infoc {
    background: rgb(0 0 0 / 66%);
  }
}
