/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

.light {
  ::-webkit-scrollbar-track {
    @apply bg-primary;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-white-alter; // Color principal
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#c6c5c5]; // Color de la barra al hacer hover
  }
}

/* Dark */

.dark {
  ::-webkit-scrollbar-track {
    @apply bg-header-color-dark; // Color de fondo
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-secondary; // Color principal
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-alter; // Color de la barra al hacer hover
  }
}
