/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-white;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary; // Color principal
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-alter; // Color de la barra al hacer hover
}

/* Dark */
.dark {
  ::-webkit-scrollbar-track {
    @apply bg-[#2a2d39]; // Color de fondo
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-secondary; // Color principal
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-alter; // Color de la barra al hacer hover
  }
}