<div class="max-w-full min-h-[340px] max-[350px]:min-h-[290px]">
  <app-chapter-item class="w-full h-[255px] max-[350px]:h-[215px] max-[165px]:" [type]="0" [imgUrl]="imgUrl" [url]="url"></app-chapter-item>
  <div class="mt-4 w-full min-h-[70px]">
    <div class="w-full flex justify-start flex-wrap gap-1">
    <app-tag class="" [type]="1" [category]="state"></app-tag>
    <app-tag class="" [type]="1" [category]="type" bg="primary"></app-tag>
    </div>
    <p class="mt-2 text-[12px] font-bold font-mulish line-clamp-2">{{ name }}</p>
  </div>
</div>