<!-- Imagen -->
@if (animeInfo.imgUrl !== undefined) {
  <app-img class="h-[255px] max-[360px]:h-[215px]" [imgUrl]="animeInfo.imgUrl" [url]="animeInfo.url" ></app-img>
} @else {
  <app-img class="h-[255px] max-[360px]:h-[215px]" imgUrl="assets/imgs/error.svg" [url]="animeInfo.url" objFit="contain"></app-img>
}
<!-- Tags -->
<div class="mt-2 flex justify-start flex-wrap gap-1">
  <app-tag [type]="1" [category]="animeInfo.type" bg="primary"></app-tag>
  <app-tag [type]="1" [category]="animeInfo.state"></app-tag>
</div>
<!-- Nombre -->
<p class="text-[12px] font-bold font-mulish line-clamp-2">{{ animeInfo.name }}</p>